<ion-view view-title="START">
  <!-- <ion-content class="padding-"> -->
  <ion-content>

<div class="row">
  <div class="col">
	<button class="button button-large button-full button-balanced">
  	<br>EIns<br>&nbsp
	</button>
  </div>
  <div class="col">
    <button class="button button-large button-full button-balanced">
  	<br>ZWei<br>&nbsp
	</button>
  </div>
</div>
<div class="row">
  <div class="col">	
  <button class="button button-large button-full button-balanced">
  	<br>DRei<br>&nbsp
	</button>
  </div>
  <div class="col">
    <button class="button button-large button-full button-balanced">
  	<br>VIer<br>&nbsp	
	</button>
  </div>
  
</div>

  
<div class="button-bar">
  <a class="button button-large button-royal"><br>EIns<br>&nbsp</a>
  <a class="button button-large button-royal"><br>ZWei</a>
</div>
<div class="button-bar">
  <a class="button button-large button-royal"><br>DRei<br>&nbsp</a>
  <a class="button button-large button-royal"><br>VIer</a>
</div>
  

  </ion-content>
</ion-view>
