<ion-view view-title="NEWS">
  <!-- <ion-content class="padding-"> -->
  <ion-content>


  
<div class="button-bar">
  <a class="button button-large button-calm"><br>EIns<br>&nbsp</a>
  <a class="button button-large button-calm"><br>ZWei</a>
</div>
<div class="button-bar">
  <a class="button button-large button-calm"><br>DRei<br>&nbsp</a>
  <a class="button button-large button-calm"><br>VIer</a>
</div>
<div class="button-bar">
  <a class="button button-large button-calm"><br>5<br>&nbsp</a>
  <a class="button button-large button-calm"><br>6</a>
</div>  

  </ion-content>
</ion-view>
